@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Debugfreetrial mvdyb';
  src: url('https://uploads-ssl.webflow.com/614229bcc0c2f5d21f855ae8/61444e2232e7579a017792ab_DebugFreeTrial-MVdYB.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.nav-container{
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  color: white;
  z-index: 1;
  padding: 10px 0;
}

.hvr-underline-from-center {
  font-size: 28px;
  margin-right: 20px;
  font-family: 'Debugfreetrial mvdyb',
  sans-serif;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #22e2ff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-back-pulse:hover,
.hvr-back-pulse:focus,
.hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #22e2ff;
  background-color: #22e2ff;
  color: white;
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(34, 226, 255, 0.75);
  }
}

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(34, 226, 255, 0.75);
  }
}

.mobile-a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33%;
  width: 100%;
}

.mobile-menu{
  display: none;
}

.button{
  padding: 5px 15px;
  border: 2px solid #22e2ff;
  border-radius: 2rem;
  height: 44px;
  width: 33%;
  text-align: center;
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #22e2ff;
  border-radius: 2rem;
  height: 44px;
  width: 44px;
}

.button-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  width: 50%;
  height: 100%;
}

.button-list-socials{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 100%;
}

.logo{
  flex-grow: 1;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.intro-content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  color: white;
  width: 80%;
  text-align: center;
  z-index: 1;
}

.intro-content h1{
  margin: 30px 30px 20px;
}

.intro-content p{
  width: 50%;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 120vh;
  width: 100vw;
  background-image: linear-gradient(0deg, #000, #000 0%, rgba(0, 0, 0, 0.45) 75%, transparent);
  z-index: 1;
}

.intro video{
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

.GetThemAll {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10% 20%;
  height: 80vh;
  width: 100vw;
  color: white;
}
.GetThemAll .content p {
  width: 500px;
}
.content {}

.BrainhubCarouselItem {
  filter: brightness(30%);
}

.BrainhubCarouselItem--active {
  filter: brightness(100%);
}

.robot-image {
  width: 500px;
  height: 500px;
  background-image: url(/bot01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  font-family: "Debugfreetrial mvdyb",
  sans-serif;
  text-shadow: 1px 1px 6px #22e2ff;
  font-size: 122px;
  line-height: 86px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}

.content h1 {
  font-size: 8rem;
}
p{
  font-family: "Roboto", sans-serif;
}


.Partners {
  display: flex;
  flex-flow: column nowrap;
  padding: 10% 20%;
  width: 100vw;
  color: white;
  align-items: center;
}

.Partners h1{
  text-align: center;

}

.partner-image{
  width: 250px;
  height: 100px;
  background-color: red;
  padding: 25px 0px;
}

.meet-the-team{
  display: flex;
  flex-flow: column nowrap;
  padding: 10% 20%;
  width: 100vw;
  color: white;
  align-items: center;

}
.meet-the-team h1{
  text-align: center;
}

.team-slider{
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}
.team-image{
  background-image: url(/Team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 500px;
  border: solid 4px #22e2ff
}
.team-slider p{
  padding-top: 10px;
  width: 300px;
}
.team-slider h2{
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 30px;
}

.meet-the-fam{
  display: flex;
  flex-flow: column nowrap;
  padding: 10% 20%;
  width: 100vw;
  color: white;
  align-items: center;
}

.meet-the-fam h1{
  text-align: center;
}

.fam-image{
  background-color: red;
  width: 500px;
  height: 500px;
}

.Footer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  padding: 10% 20%;
  padding-bottom: 0px;
  width: 100vw;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.Footer h1{
  text-align: left;
}

.footer-image{
  width: 400px;
  height: 310px;
  background-image: url(/bot04.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Roadmap {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  color: white;
  margin-bottom: 15%;
}
.Roadmap .content{
  padding: 5% 25%;
  
}
.roadmap-image{
  width: 100%;
  height: 800px;
  background-image: url(/roadmap.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);
  opacity: 0.5;
  box-shadow: 0px -150px 50px -50px black inset, 0px 150px 50px -50px black inset;
}

.roadmap-content {
    padding: 5% 20%;
    padding-bottom: 0;
}

.roadmap-stages{

  padding-left: 20px ;
  position: relative;
}

li.roadmap-stages{
  border-left: solid 2px white;
}

li.roadmap-stages:before{
    position: absolute;
    left: -10px;
    top: 17px;
    content: " ";
    border-radius: 500%;
    background: white;
    height: 20px;
    width: 20px;
}

.roadmap-stages h2{
  font-family: "Debugfreetrial mvdyb", sans-serif;
  color: white;
  font-size: 2.5rem;
}
.done h2{

  color: #22e2ff !important;

}

li.done{
  border-left: solid 2px #22e2ff;
}

li.done:before{
    position: absolute;
    left: -10px;
    top: 17px;
    content: " ";
    border-radius: 500%;
    background: #22e2ff;
    height: 20px;
    width: 20px;
}




.hamburger-react{
  z-index: 9999;
}

.mobile-menu-toggle{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: -200px;
  left: 0;
  width: 100vw;
  height: 200px;
  transition: ease-in .5s;
  z-index: 10;
  border-bottom: 3px solid #22e2ff;
  background-color: black;
}

.middle{
  border-top: 1px dashed #22e2ff;
  border-bottom: 1px dashed #22e2ff;
}

.rights {
  color: white;
}

.content .button-list .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}


/* MEDIA SCREEN */
@media only screen and (max-width: 1024px) {
  .GetThemAll {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 25px;
    height: 30vh;
    width: 100vw;
    margin-bottom: 25%;
  }
  .content .button-list .button {
    display: none;
  }
  .content .button-list{
    margin-top: 0;
  }

  .nav-container{
    padding: 15px;
  }

  .intro-content h1{
    margin: 0;
    margin-bottom: 1.2rem;
  }

  .intro-content p {
    width: 100%;
    text-align: left;
  }

  .button{
    width: 100%;
  }

  .button-list{
    flex-flow: column nowrap;
    width: 100%;
  }

  .button-list-socials {
    margin-top: 1rem;
    width: 100%;
  }

  
  .button-list a{
    margin-bottom: 15px;
  }

  .nav-container nav{
    display: none;
  }

  .mobile-menu{
    display: block;
  }

  h1 {
    font-size: 42px !important;
    line-height: 38px;
  }

  p{
    font-size: 14px !important;
  }

  .content p {
    width: 100% !important;
  }

  .robot-image {
    width: 250px;
    height: 250px;
  }

  .Partners {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 25px;
  width: 100vw;
  color: white;
  align-items: center;
  margin-bottom: 25%;
}

.meet-the-team{
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 25px;
  width: 100vw;
  color: white;
  align-items: center;
  margin-bottom: 25%;
}
.meet-the-fam{
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 25px;
  width: 100vw;
  color: white;
  align-items: center;
  margin-bottom: 25%;
}

.fam-image{
  width: 350px;
  height: 350px;
}

.Footer {
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 25px;
  padding-bottom: 0px;
  width: 100vw;
  color: black;
  align-items: center;
  background-color: #22e2ff;
}

.footer-image{
  width: 300px;
  height: 300px;
  background-image: url(/bot04.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}
.Footer h1{
  font-size: 3rem;
  text-align: center;
}
.Footer .content p{
  text-align: center;
}

.Roadmap {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  color: white;
  margin-bottom: 25%;
}
.Roadmap .content{
  padding: 10px 25px;
  
}

.roadmap-image{
  height: 400px;
}

.roadmap-content {
  padding: 30px 25px;
  padding-bottom: 0;
}

.roadmap-stages{

  padding-left: 20px ;
  position: relative;
}

li.roadmap-stages{
  border-left: solid 2px white;
}

li.roadmap-stages:before{
    position: absolute;
    left: -10px;
    top: 17px;
    content: " ";
    border-radius: 500%;
    background: white;
    height: 20px;
    width: 20px;
}

.roadmap-stages h2{
  font-family: "Debugfreetrial mvdyb", sans-serif;
  color: #22e2ff;
  font-size: 2.5rem;
}

li.done{
  border-left: solid 2px #22e2ff;
}

li.done:before{
    position: absolute;
    left: -10px;
    top: 17px;
    content: " ";
    border-radius: 500%;
    background: #22e2ff;
    height: 20px;
    width: 20px;
}

}

